@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

* {
  font-family: "Raleway", sans-serif;
}

.clock-time {
  position: absolute;
  left: 50%;
  transform: translateX(-60%);
  font-size: 6rem;
  max-width: 280px;

  transform-origin: left center;
  transition: 150ms ease-in-out;

  animation-name: reverseOpacity;
  animation-duration: 0.25s;
}
.clock-time:hover {
  cursor: pointer;
  animation-name: opacity;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
@keyframes reverseOpacity {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@media screen and (min-width: 550px) {
  .big {
    scale: 1.5;
  }
}
@media screen and (min-width: 1100px) {
  .big {
    scale: 3;
  }
}

.divider {
  opacity: 0.5;
}

.hours,
.minutes {
  color: #5b8fb9;
}

.seconds {
  animation: textFade 1000ms infinite linear;
}

@keyframes textFade {
  0% {
    opacity: 0.15;
  }
  100% {
    opacity: 0.2;
  }
}
