@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

* {
  font-family: "Raleway", sans-serif;
}

.digital-clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -400%);
}
.clock-title {
  font-size: 2rem;
  opacity: 0.8;
}

.clock-time {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, 50%);
  font-size: 6rem;
  max-width: 280px;
}

.divider {
  opacity: 0.5;
}

.hours,
.minutes {
  color: #c5cae9;
}

.seconds {
  animation: textFade 1000ms 975ms infinite linear;
}

@keyframes textFade {
  0% {
    opacity: 0.15;
  }
  100% {
    opacity: 0.4;
  }
}
